Welcome to {{ ansible_hostname }}.
{{ ansible_distribution }} {{ ansible_distribution_version}}
deployed on {{ ansible_architecture }} architecture.
Current kernel version: {{ ansible_kernel }}
------------------------------------------------------------
This system is a demo system managed by Ansible
in a private lab and has no expectation of security